@namespace xhtml url(http://www.w3.org/1999/xhtml);
@namespace xforms url(http://www.w3.org/2002/xforms);
  

.table_summary {display: block; }
table { border: inset; empty-cells: show; }
td, th { border: 1px solid; }

xforms\:repeat  xforms\:group { display: block; width: 98%; background-color:#D0F8C5; padding: 0.5em; margin-bottom:10px;}
xforms\:repeat  xforms\:group  xforms\:input {display: inline-block; width: 24%;}
xforms\:repeat  xforms\:group  xforms\:output {display: inline-block; padding: 0.2em; width: 25%; color:#333;font-size:0.8em; }
xforms\:repeat  xforms\:group  xforms\:select1 {display: inline-block; padding: 0.2em; width: 250px; }
xforms\:repeat  xforms\:group  xforms\:input  xforms\:label { display: inline-block; padding: 0.2em; width: 35%; color:#333;font-size:0.8em;}
xforms\:repeat  xforms\:group  xforms\:select1  xforms\:label { color:#333;font-size:0.8em;}
xforms\:repeat  xforms\:group  xforms\:output  xforms\:label { display: inline-block; padding: 0.2em; width: 34%; color:#333;font-size:0.8em;  }
/* IE doesn't like child selectors, so... we have to turn back on the itemsets labels */
xforms\:repeat  xforms\:group  xforms\:select1 div div xforms\:itemset xforms\:label { display: inline-block; }
xforms\:repeat  xforms\:group  xforms\:select1 div div xforms\:itemset xforms\:label xforms\:output { width: auto; }

xforms\:repeat  xforms\:group  xforms\:input.cost pe-value input,
xforms|repeat > xforms|group > xforms|input.cost > pe-value > input,
xforms\:repeat  xforms\:group  xforms\:input.quantity pe-value input,
xforms|repeat > xforms|group > xforms|input.quantity > pe-value > input{
	width:35px;
}
xforms\:repeat  xforms\:group  xforms\:input.item pe-value input,
xforms|repeat > xforms|group > xforms|input.item > pe-value > input{
width:95px;	
}
xforms|group > xforms|input > pe-value > div > input,
xforms\:group  xforms\:input  pe-value div input{
	display:inline-block;width:140px;
}
xforms\:repeat  xforms\:group  xforms\:output.image,
xforms|repeat > xforms|group > xforms|output{
	width:15%;
}



xforms|repeat > xforms|group { display: block; width: 98%; background-color:#eeeeee; padding: 0.5em; }
xforms|repeat > xforms|group > xforms|input {display: inline-block; width: 24%;}
xforms|repeat > xforms|group > xforms|output {display: inline-block; padding: 0.2em; width: 20%; color:#333;font-size:0.8em; }
xforms|repeat > xforms|group > xforms|select1 {display: inline-block; padding: 0.2em; width: 35%; }
xforms|repeat > xforms|group > xforms|input > xforms|label { display: inline-block; padding: 0.2em; width: 30%; color:#333;font-size:0.8em; }
xforms|repeat > xforms|group > xforms|select1 > xforms|label { color:#333;font-size:0.8em; }
xforms|repeat > xforms|group > xforms|output > xforms|label { display: inline-block; padding: 0.2em; width: 22%; color:#333;font-size:0.8em;  }

xforms\:output.regular {display: block;  width: 95%;}
xforms\:output.regular  xforms\:label pe-value { width: 205px; float:left;}
xforms|output.regular {display: block;  width: 95%; }
xforms|output.regular  xforms|label pe-value { width: 205px; float:left;}

xforms\:trigger, xforms\:submit { -moz-border-radius: 1em; -webkit-border-radius: 1em; }
xforms|trigger, xforms|submit { -moz-border-radius: 1em; -webkit-border-radius: 1em; }

*.disabled { display: none; }
*.invalid { border-style: solid; border-width: 2px; border-color: red; }
*[class~="disabled"] { display: none; }
*[class~="invalid"] { border-style: solid; border-width: 2px; border-color: red; }
